.DS_Store
thumbs.db
target
embedded_tomcat
/bin/
manifest-*
*.log
.settings/org.eclipse.wst.common.project.facet.*
*.mtar
*.war
*.war.original
reactui/package-lock.json
.mta/

nextjs
dist/
### NodeJS related ###
npm-debug.log
node_modules

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

.firebase 

fioriHtmlRunner.html
.*/fioriHtmlRunner.html
visual_ext_index.html
/webapp/visual_ext_index.html
extended_runnable_file.html
.*/extended_runnable_file.html
sap-ui-cachebuster-info.json
mock_preview_sapui5.html
.*/mock_preview_sapui5.html
UIAdaptation_index.html
changes_preview.js
AppVariant_index.html
AppVariantPreviewPayload.zip
mergedManifestDescriptor.json
APIExternalProducer.js
.*/APIExternalProducer.js
/mta_archives/
/.metadata/
